/*RESET CSS*/
:root{
	/*ESTO ES UNA MANERA DE CREAR VARIABLES LAS
	CUALES PUEDES LLAMAR CON VAR(--NOMBRE-DE-LA-VARIABLE)*/
--main-font: 'Grandstander', cursive;
--font-size: 20px;
--main-color: #db3fe4;
--second-color:#4e4ee4;
--container-width:1000px; 
--main-modal-color:rgba(219, 63, 228, 0.8);
--second-modal-color:rgba(78, 78, 228, 0.7)
}
/*RESET HTML*/
html{
	box-sizing: border-box;
/*AQUI ESTA UTILIZANDO VARIABLES*/
	font-family: var(--main-font);
	font-size: var(--font-size);
/*este smooth sirve para las animaciones
 se preseenten mejor IMPORTANTE*/
	scroll-behavior:smooth;

}
*,
*:before,
*:after{
	box-sizing: inherit;
}

body{
	margin: 0;
	/*esto sirve para quitarle todo tipo de margen
	configura que tenga el documento usualte tiene 
	8px OVERFLOW-X.....es referente a la anchura de la pagina
	hidden es ocultar*/
	overflow-x: hidden;

}

img{
	/*ESTO ES MUY INPORTANTE PARA 
	LAS PAGINAS RESPONSIVE PARA QUE LAS IMAGENES SE MUESTRES COMPLETAS 
	NO OCULTAN PARTES SI NO CABEN
	*/
	max-width: 100%;
	height: auto;
}
/*-------------------------PARA EL MENU DE HAMBURGESA------------------------------*/
.header{
/*	POSITION:STICKY sirve para que se quede fijo y no se mueva*/
	position: sticky;
	top: 0px;
	padding:1rem;
	background-color:rgba(219, 63, 228, 0.9);
	color:#fff;
	z-index: 999;
	
}

.header h1{
	margin:0;
	text-align: center;
}
.section{
	/*todo esto sirve para poner texto al medio 
	osea que sirve para paginas responsive*/
	/*pasos asegir */
	/*1*/padding:2rem;
	/*2*/padding-top:4rem;
	/*3*/margin-left:auto;
	/*4*/margin-right:auto; 
	/*5*/width:100%;
	/*6*/max-width:var(--container-width);
	/*7*/min-height: 100vh;
	/*8*/text-align: center;
	
}
.section h3{
	font-size: 40px;
	font-family: 'VT323', monospace;
}




/*MOVIENTO ASIA IZQUIERDA DE EL BOTON DE HAMBURGESA Y SU PINTA */
.panel-btn{
	position: fixed;
	z-index: 1010;
	bottom: 1vh;
	/*SIN ESTE SE PONE A LA DERECHA*/
	right: 1vw;
	/**/
	width: 4rem;
	height: 4rem;
	border-radius:50%;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:rgba(219, 63, 228, 0.6);
	border: 1px inset #ff2344; 


}
.panel-btn:hover{
	background-color:#ff2344;
	color:rgba(219, 63, 228, 0.9) ;
}


.panel{
	position: fixed;
	z-index:1000;
	background-color: rgba(219, 63, 228, 0.8);
	width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left:0;
	overflow-y: auto;
	/*si quieres que el menu salga de arriba*/
	transform: translate(0,-1000%);
	/*q salga de abajp
	transform: translate(100%);*/
	/*este es la trancicion*/transition: transform 0.2s ease,opacity 0.2s ease;

}

.panel__is-active{
	transform: translate(0,0);
}



/*ESRO SIRVE PARA QUE EL MENU SE PONGA DENTRO DE TODA LA PANTALLA*/
.menu{
	/*esto significa que erede la anchura
	 de su contenedor padre*/
	width: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.menu a {
	padding: 1rem;
	width: inherit;
	display: block;
	font-size:1.5rem;
	text-decoration: none;
	color:#fff ;
	transition: all 0.3s ease;
	border:1px solid #ff2344 ;
	
	
}

.menu a:hover{
	font-weight: bold;
	background-color: rgba(255,255,255,0.4);
}
/*temporizador-----------------*/
.paron-alarma{
	color: #ff2344;
	font-size: 20px;
	border: 1px inset  #ff2344
}

.paron-reloj{
	color: #ff2344;
	font-size: 20px;
	border: 1px inset  #ff2344
}
.boton-reloj{
	background-color: var(--main-modal-color); 
	color: #fff;
 border: 1px inset  #ff2344;
 padding: 20px;
 margin: 10px;
 font-size: 15px;
 font-family: var(--main-font);

}
.boton-reloj:hover{
	background-color:var(--main-color);
	padding:20px;
	margin:15px;
	transition: 0.5s ease ;

}
/*..eventos de el teclado...

.stage{
	display: flex;
	height: 50vh;
	background-color:rgba(219, 63, 228, 0.6) ;
}
.ball{
	 width: 50px;
  height: 50px;
  background-color:#ff2344 ;
  border-radius: 50%;
  position: relative;
  z-index: 90;
  top: 45%;
  left: 50%
}----WSRE FUE DE EL EJEMPLO Q NO SALIO
*/

#mapa{
   display: flex;
	height: 50vh;
  background-color:rgba(219, 63, 228, 0.6) ;
 
}
#pelota{
  width: 50px;
  height: 50px;
  background-color:#ff2344 ;
  border-radius: 50%;
  position: relative;
  z-index:1;
  top: 45%;
  left: 50%;
}
#controladorPelota{

  margin-top: 10px;
  width: 450px;
  text-align: center;
  background-color: rgba(219, 63, 228, 0.6);
  padding: 10px;
  font-size: 1.5rem;
}
/*ESTILOS PARA INTERVALOO DE TIEMPO */
.navidad{
	border: 1px inset #ff2344;
	 background-color: rgba(219, 63, 228, 0.6);
	 text-align: center;
	 padding: 20px;
	 color: #fff
}
/******SCROLL top btn********/

.scroll-top-btn{
	position: fixed;
	z-index:1010;
	font-size: 2.7rem;
	bottom: 1vh;
	/*SIN ESTE SE PONE A LA DERECHA*/
	right: calc(4.25rem + 1vw) ;/*esto sirve para calcular la distancia cin matematica q tu quieras*/
	/**/
	width: 4rem;
	height: 4rem;
	border-radius:50%;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:rgba(219, 63, 228, 0.6);
	border: 1px inset #ff2344; 
	cursor: pointer;
	/*esto esuna transisiciom*/
	transition: all 0.5s ease-out;


}
.scroll-top-btn:hover{
	background-color:#ff2344;
	color:rgba(219, 63, 228, 0.9) ;
}

.hidden{
	/*visility sirve para q no se muestre y q no se pueda ejecutar su funcion*/
	visibility: hidden;
	/*opacity solo lo ase trasparente*/
	opacity: 0;
}

/*-- Tema Dark/Light --*/

.drak-theme-Light{
	position: fixed;
	z-index: 1010;
	font-size: 2.7rem;
	bottom: 1vh;
	left: 1vw;
	width: 4rem;
	height: 4rem;
	border-radius:50%;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:rgba(219, 63, 228, 0.6);
	border: 1px inset #ff2344; 
	cursor: pointer;
	
	transition: all 0.5s ease-out;

}

.drak-theme-Light:hover{
	background-color:#ff2344;
	color:rgba(219, 63, 228, 0.9) ;
}

/*--cambiando en color--*/

.dark-mode{
		background-color:#000;
	color:#FF69B4 ;
	border: 1px solid #fff
}
/*https://www.cerotec.net/tabla-colores-web*/

.dark-mode .scroll-top-btn:hover{
	background: rgba(255,255,255,0.8);
}


.dark-mode .panel-btn:hover{
	background: rgba(255,255,255,0.8);
}

.dark-mode .drak-theme-Light:hover{
	background: rgba(255,255,255,0.8);
}

/*------------ Responsive con JavaScript ----------------------*/
.tester{
box-sizing: border-box;
font-size:16px;
margin: 10px;
padding: 15px;
border: 1px inset rgba(219, 63, 228, 0.9);
}
.btntester{
	padding: 15px;
	border: 1px inset #ff2344;
	background-color: rgba(219, 63, 228, 0.9);
	border-radius:10px;
	font-size: 15px;
}
.btntester:hover{
cursor: pointer;
background-color:#FF69B4 ;
transition: 1s all ease;

}


/* ---Detección de Dispositivos User Agent -- */

/*no le voy a poner estilos*/

 /*Detección del estado de la red-----Nekword Status*/
.online{
	position: sticky;
	z-index: 1200000;
	top: 0;
	padding: 1rem;
	font-size: 1.5rem;
	/*este es asombriado normal*/
	font-weight: bold;
	text-align: center;
	background-color: green;
	color: #fff
};
.offline{
	background-color: red;
}

/*Detección de la Geolocalización
	aqui no hay nd*/

/*Filtros de Búsqueda*/

.cards{
	/*esto sirve para poner columnas ordenadas*/
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr)) ;
}
.card img {
	width: 100%;
	height: auto;
}
.card figcaption {
	padding: 1rem;
	background-color: #FF69B4;
	color: #fff;
}
.card-filter{
	padding: 0.5rem;
	font-size:0.8rem;
	margin-bottom:20px
}
.filter{
	display: none;
	
	/* ESTE ES UNA TRANSISION
	visibility: hidden;
	opacity: 0;
	transition: 0.5s all;
	order:1;*/
}
/* Sorteo Digital*/

.winner-btn{
	padding: 15px;
	border: 1px inset #ff2344;
	background-color: rgba(219, 63, 228, 0.9);
	border-radius:10px;
	font-size: 15px;
	color: #fff;
}
.winner-btn:hover{
cursor: pointer;
background-color:#FF69B4 ;
transition: 1s all ease;

}

/* Responsive Slider*/
/*ES RESPOMSIVO*/
.slider{
	box-sizing: border-box;
	position: relative;
	width: 80%;
	margin: 1rem auto;
	text-align: center;
	border: thin inset #FF69B4;
}

.slider-slides{
position: relative;
height: 400px;


}
.slider-slide{
box-sizing: border-box;
position:absolute;
height: 100%;
width: 100%;
top: 0;
left: 0;
opacity: 0;
transition: opacity 1s ease;
visibility: hidden;
}
/*asi es para fucionar una class con espacio*/
.slider-slide.active{
	opacity: 1;
	visibility: visible;
}
.slider-slide img{
	/*INHERIT ES HEREDAD DE LA CAJA MADRE-RESPNSIVO*/
	width: inherit;
	height: inherit;
	/*ESTO ES PARA Q LA IMAGEN NO SE VEA FEO AL ACERCE PEQUEÑA Y SE ADAAPTE 98 MIN 20:38MIN
	object-fit:contain;*/
	/*este es otro pero cpara ajustar la img*/
	object-fit:cover;
	object-position: 50% 0%; 
}

.slider-btns{
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	top: 40%;
	font-size: 2.5rem

}
.slider a{
	display: block;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: rgba(219, 63, 228, 0.9);
	color: #fff;
	border: 1px inset  rgba(219, 63, 228, 0.9);
	text-decoration: none;
	transition: all 0.3s ease;
}
.slider a:hover{
	background-color:#FF69B4; 
}


/* ScrollSpy con Intersection Observer*/
@media screen and  (min-width:1024px){
	body{
		display: grid;
		grid-template-columns:80% 20%;
		grid-template-rows: 4rem auto;
		grid-template-areas: "header header" "main panel"; 
	}
	main{
		grid-area: main;
	}
	.header{
		grid-area: header;
	}
	.panel{
		grid-area: panel;
		align-self: start;
		position: sticky;
		top: 4rem;
		justify-content: flex-start;
		transform: translate(0,0);
		opacity: 1;
		visibility: visible;
		
	}
	.panel-btn{
		display: none;
	}
	.menu{
		justify-content: flex-start;
		text-align: right;
	}
	.menu a {
		width: 100%;
		font-size:0.9rem;
		padding:0.55rem;
	}
	.menu a:hover,.menu a.active{
		background-color: rgba(255,255,255,0.8s);
	}
	.scroll-top-btn{
		right: initial;
		left: calc(4.25rem + 1vw)
	}


}




